/* @import "~react-vis/dist/style";
@import "~react-vis/dist/styles/legends"; */

@import "../../../node_modules/react-vis/dist/style.css";

.right-panel {
  width: 300px;
  text-align: left;
  float: right;
}

.ramps-table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
}

.ramps-table thead tr {
  background-color: #ffbf00;
  color: white;
  text-align: left;
  font-weight: bold;
  width: 150px;
}

.ramps-table th,
.ramps-table td {
  padding: 7px 15px;
  width: 150px;
}

.ramps-table tbody tr td {
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
  padding-top: 2px;
}

.selected {
  background-color: chartreuse;
}

.unselected {
  background-color: white;
}
